[submodule "/Users/bassij/dotfiles/vim/bundle/MatchTag"]
	path = /Users/bassij/dotfiles/vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag
[submodule "/Users/bassij/dotfiles/vim/bundle/closetag.vim"]
	path = /Users/bassij/dotfiles/vim/bundle/closetag.vim
	url = https://github.com/docunext/closetag.vim
[submodule "/Users/bassij/dotfiles/vim/bundle/html5.vim"]
	path = /Users/bassij/dotfiles/vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim
[submodule "/Users/bassij/dotfiles/vim/bundle/matchit.zip"]
	path = /Users/bassij/dotfiles/vim/bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip
[submodule "/Users/bassij/dotfiles/vim/bundle/nerdtree"]
	path = /Users/bassij/dotfiles/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "/Users/bassij/dotfiles/vim/bundle/sparkup"]
	path = /Users/bassij/dotfiles/vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup
[submodule "/Users/bassij/dotfiles/vim/bundle/supertab"]
	path = /Users/bassij/dotfiles/vim/bundle/supertab
	url = https://github.com/ervandew/supertab
